@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    background-color: #ebeaea !important;
}

nav, .blog-upload {
    background-color: #f7f7f7ec !important;
}


.download-icon {
    width: 25px;
}

.social-media i {
    font-size: 35px;
    margin-right: 25px;
}

.blog-list-item {
    width: 330px;
    height: 570px;
    display: flex;
    flex-direction: column;
    border: 1px solid #cdcaca;
    background-color: white;
    box-shadow: 0 5px 5px 0 #d3d2d2f6;
    border-radius: 10px;
    padding: 10px;
}

p {
    text-align: justify;
    word-wrap: break-word;
}


.icon {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.profile-testimonial {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='100' viewBox='0 0 24 24' width='75' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding: 13px;
    appearance: none;
}

